@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

::-webkit-scrollbar{
    width: 0;
    background-color:rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(51, 85, 197);
}

.scroll-container {
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 95vh; /* Define a height for the scroll container */
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}
  
section {
    background-image: url(background1.png);
    background-size: cover;
    background-position: center;
    /* display: grid; */
    /* place-items: center; */
    /* align-content: center; */
    scroll-snap-align: start; /* Define the snap alignment for each section */
    height: 95vh; /* Set a height for each section */
    /* border: 1px solid #ccc;  */
}

.section1{
    display:grid;
    place-items: center;
    align-content: center;
}
h1 {
    font-family: 'Playfair Display';
    font-size: 6rem;
    margin-top: 3em;
    margin-bottom: .3em;
    color: white;
}
.p1{
    font-size: 2rem;
    font-weight: 300;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    
}
.p1-2{
    font-size: 1rem;
    /* text-align: left; */
    /* color:#bdbdbd; */
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    /* margin-bottom: 0; */
}

.section2{
    display:grid;
}
.title{
    font-size:4.8rem;
    text-align: left;
    margin-left: 20%;
    /* padding: 20px; */
}
.text{
    text-align: left;
    font-size: 135%;
    /* margin-right: 10%; */
   /* padding-right: 100px;  */
    /* padding: 1200px; */
}
#UoL{
    padding-left: 50px;
    place-items: right;
    margin-right: 20%;
    /* height: 300px; */
}
h3{
    text-align: center;
    font-family: 'Playfair Display';
    color: white;
    font-size: 3rem;
    /* padding: 10px; */
}
.skills{
    display:grid;
    align-content: center;
    place-items: center;
}
.card{
  height: 275px;  
  /* float: center; */
  background-color: transparent;
  border: 0;
  /* place-content: center; */
  /* align-self:center;
  align-content: center;
  place-items: center;
  position: relative; */
  /* padding: 10px; */
}
.mobile{
    height: 0;
}

.card:nth-child(2){
    transition-delay: 400ms;
}
.card:nth-child(3){
    transition-delay: 600ms;
}

.projects{
    /* display: flex; */
    display:grid;
    place-items: center;
    align-items: center;
    /* position: center; */
}


.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
body {
    /* margin: 0; */
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    background-color:rgb(32, 32, 32);
}

iframe {
    display:grid;
    width: 50vw;
    height: 90vh;
    /* margin-right: auto; */
    position:relative ;
    /* z-index: 2; */
    /* padding-top: 1px; */
    /* top: 0; */
    /* right: 0; */
    bottom: 0;
    padding:0;
}
.video{
    display:grid;
    align-items: center;
    align-content: center;
    place-items: center;
}

.responsive-iframe{
    display:flex;
    align-content: center;
    /* palce */
    height: 50vh;
    width: 25%;
    padding:50px;
}



h2{
    text-align: center;
    font-family: 'Playfair Display';
    color: white;
    font-size: 3rem;
    padding: 30px;
}

p{
    font-size: 0.9rem;
    text-align: left;
    color:#bdbdbd;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    /* padding: 50px; */
}

h1, .p1, .p1-2, .p3 {
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

footer{
    text-align: center;
}
em{
    color: rgb(77, 77, 77);
}

.logo{
    height:50px;
    /* padding: 20px; */
}

img{
    height: auto;
    max-height: 100%;
    float: right;
    position: relative;

}


.proj{
    height: 300px;
    position:relative ;
}

ul.main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    /* color: rgb(61,61,61); */

}

li a {
    font-family: 'Gill sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    display: block;
    /* color: #ffffff; */
    padding: 4px 8px;
    text-decoration:none;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.rl{
    text-align: center;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

@media screen and (max-width:768px){
    .section2{
        display:grid;
        /* place-items: center;
        align-content: center; */
    }
    h3{
        font-size:large;
    }
    /* .cards{
        display: grid;
        margin-left: 0;
        position:relative;
    } */
    .mobiles{
        flex-direction: column;
        display:list-item;
        margin-right:25px;
    }
    .card{
        height: 0;
    }
    .mobile{
        height:200px;
        position: relative;
        /* padding: 5px; */
    }
    #UoL{
        height:0;
    }
    .title{
        font-size: 2rem;
        /* padding: 5px; */
        /* position: relative; */
    }
    .text{
        font-size: 1rem;
        padding:0;
    }
    .p1-2{
        font-size:medium;
        margin: 15%;
    }

    .scroll-container{
        scroll-snap-type: none;
    }
    .section{
        flex-direction: column;
        display: grid;
        place-items: center;
        align-content: center;
    }

}